<br><%= image_tag @user.icon %>
<h1><%= @user.name %>のページ</h1>
<h3>お気に入りした投稿</h3>
  <% @user.favorite_images.each do |image| %>
    <br>投稿者:<%= image.user.name %>
    <br><%= image_tag image.image %>
    <br>コメント:<%= image.content %>
    <% end %>
<br>
<%= link_to "戻る", edit_user_path %>
