<%= form_with(model: @image, local: true, url:confirm_images_path) do |form| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= @image.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="filed">
    <%= form.label :image %>
    <%= image_tag(@image.image.url) if @image.image.url %>
    <%= form.file_field :image %>
  </div>
  <div class="image_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", images_path %>
